<!DOCTYPE html>
<html>
<head>
<title> Ask Pupkin </title>

 <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
 <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
 <script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/settings.js"></script>
 <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
 <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
	<div class = "container-fluid">
		<!--Шапка -->
		<div class = "row-fluid" >
 			<div class = "span4 " valgin = "center"><h2><a href="http://localhost:8000">Be smart! Ask pupkin!</a></h2></div>
 			<div class = "span2 offset6" >
 				<ul class="nav nav-pills logout">

                    {% if user.is_authenticated %}
              		    <li class="active" ><a href="#"  id="id_username_head">{{ user.username }}</a></li>
                        <li class="active" id="btn_logout" ><a href="#" >logout</a></li>
                        {% else %}
                            <li class="active" data-toggle="modal" data-target="#modalAuth"><a href="#" id="btn_login">Login</a></li>

                    {% endif %}


              
            	</ul>
            </div>
 				
 			
		</div>
		<!--Конец шапки -->

		<!-- Тело -->
		<div class="row-fluid ">
 			<div class="span9" style = "position: relative">
 				<ul class="nav nav-tabs">  <!--Navbar -->
  					<li class = "active">
    					<a href="http://localhost">New</a>
  					</li>
  					<li ><a href="http://localhost">Popular</a></li>
				</ul>
                  {% if user.is_authenticated %}
                      {% if state == 1%}
				<button  class = "btn btn-success btn-ask" id="#ask"  type="button" data-toggle="modal" data-target="#myModal">ASK </button>
                      {% endif %}

                {% endif %}
			</div>				
			<div class = "span1 ask_div">
			
				 
			</div>			
		</div>   
										<!-- Конец Navbar -->

		<div class="row-fluid ">
			<div class="span9">
				<div class = "main-window">
					{% block quests %}
                    {% endblock %}
                    {% block user_info %}
                    {% endblock %}
				</div>
			</div>
 			<div class="span3">

 			<form class="form-search">
  				<input type="text" class="input-medium search-query" value = "Search">
  			</form>
  			<b style = "font-size: 30px"> ask </b> <b>hello</b><b> ask </b> <b>hello</b><b> ask </b> <b>hello</b>
  			<b> ask </b> <b>hello</b><b> ask </b> <b>hello</b><b style = "font-size: 30px"> ask </b> <b>hello</b>
  			<b> ask </b> <b>hello</b><b> ask </b> <b>hello</b><b> ask </b> <b>hello</b>
  			<b> ask </b> <b style = "font-size: 30px">hello</b><b> ask </b> <b>hello</b><b style = "font-size: 30px"> ask </b> <b>hello</b>
  			<b> ask </b> <b>hello</b><b> ask </b> <b>hello</b><b> ask </b> <b>hello</b>
 			 
 			</div>
		</div>
		<!-- Конец тела-->
	
<!-- Модальное окошко -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ask me</h3>
  </div>
  <div class="modal-body">
  	<form action="." method="post"> {% csrf_token %}
        <div id="tittle_err" style="display: none; color: red"> Поле обязательно для заполнения </div>
 		<div class = "row-fluid">
            <div class = "span4"> <h3> Tittle </h3> </div>
    		<div class = "span7 form_text" >
            {{form.tittle}}
            </div>

    	</div>
        <div id="body_err" style="display: none; color: red"> Поле обязательно для заполнения </div>
    	<div class = "row-fluid">

    		<div class = "span4"> <h3> Question </h3> </div>
    		<div class = "span7">
              {{form.body}}
            </div>
    	</div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Don't ask</button>
    <button class="btn btn-success" id="click_me" type="submit">Ask</button>
  </div>
   </form>
</div>
</div>

<div id="modalAuth" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ask me</h3>
  </div>
  <div class="modal-body">
  	<form action="." method="post"> {% csrf_token %}
         <div id="auth_err" style="display: none; color: red"> Ошибка авторизации </div>
         <div id="email_err" style="display: none; color: red"> Поле обязательно для заполнения </div>
 		<div class = "row-fluid" id="id_email_div" style="display: none">
            <div class = "span4"> <h3> Em@il </h3> </div>
    		<div class = "span7 form_text" >
            <input id="id_email" type="email" name="email">
            </div>

    	</div>

        <div id="user_err" style="display: none; color: red"> Поле обязательно для заполнения </div>
 		<div class = "row-fluid">
            <div class = "span4"> <h3> UserName </h3> </div>
    		<div class = "span7 form_text" >
            <input id="id_username" type="text" name="username">
            </div>

    	</div>
        <div id="password_err" style="display: none; color: red"> Поле обязательно для заполнения </div>
  		<div class = "row-fluid">
            <div class = "span4"> <h3> Password </h3> </div>
    		<div class = "span7 form_text" >
            <input id="id_password" type="password" name="password">
            </div>

    	</div>

  <div class="modal-footer">
    <button class="btn btn-success" id="id_register" >Registration</button>
    <button class="btn btn-success" id="btn_register" >Send</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-success" id="id_login" type="submit">Login</button>
  </div>
   </form>
</div>
</div>


<div id="modalMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ask me</h3>
  </div>
  <div class="modal-body">
  <p id="id_message_text">text</p>
</div>
</div>


    <div class="row-fluid">
        <div class="span9">

            <div class="pagination">

                <ul>
                    {% if page_obj.has_previous %}

                    <li> <a href="/page{{ page_obj.previous_page_number }}/">Prev</a></li>

                    {% endif %}
{#                    <li><a href="#">1</a></li>#}
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">5</a></li>#}
                     {% if page_obj.has_next %}
                    <li><a href="/page{{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid" style="margin-top: 0px"> </br> </div>
</div>
</body>


<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>


</html>
