{% extends 'ask/main_tpl.html' %}
{% block quests %}
    {% for quest in quests %}
    <div class = " quest">
							<div class = "row-fluid">
								<div class = "span2">
									<div class = "counter-main" >
										<div class = "count" align="center"> {{ quest.raiting }} </div>
										<div class = "counter-thumbs">
											<a class="quest_up" id="quest_up{{ quest.id }}" href="#"><i class="icon-thumbs-up"></i></a>
											<a class="quest_down" id="quest_down{{ quest.id }}" href="#"><i class="icon-thumbs-down"></i></a>
										</div>
									</div>

								</div>

								<div class = "span10">
									<a href="{{ quest.get_url }}"><h3>{{ quest.title  }}</h3> </a>
									<p>{{  quest.body }}</p>
                                    <b><p>Опубликовано : {{ quest.pub_date }} . Пользователем <a href = "{{ quest.get_usr_url }}" >{{ quest.user }} </a> </p></b>
									<div class = "foot_buttons"> <a href = "{{ quest.get_url }}">Read Answers</a> | <a href = "#">Answer</a> | <a href = "#">Like</a> | <a href = "#">Dislike</a> | </div>
								</div>

							</div>
					</div>
    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

{% endblock %}